.explainText {
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
  li {
    margin-bottom: 0;
  }
}

.optionalHelp {
  margin-bottom: 10px;
}

.summary {
  user-select: none;
  padding-bottom: 5px;
  font-weight: 500;
  &:focus {
    outline: none !important;
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.details {
  padding-left: 17px;
  margin-bottom: 15px;
}

.ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 20px;
}
