{
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "parser": "@typescript-eslint/parser",
  "root": true,
  "rules": {
    "strict": 0,
    "react/prop-types": 0,
    "react/display-name": "off",
    "no-console": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prefer-const": "warn",
    "no-unused-vars": "off",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "react/react-in-jsx-scope": "off",
    "import/extensions": [
      "warn",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
      },
    ],
  },
  "env": {
    "browser": true,
    "es2021": true,
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
  ],
  "settings": { "react": { "version": "detect" } },
}
