.container {
  display: block;
  padding-bottom: 15px !important;
}

.formLabel {
  padding-top: 10px !important;
  padding-bottom: 8px !important;
  font-size: 12px !important;
  cursor: text;
  user-select: none;
  pointer-events: none;
}

.checkbox {
  height: 2px !important;
  width: 24px;
}
