.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.labelClass {
  font-size: 12px;
  height: 12px !important;
  color: rgb(0, 0, 0, 0.54);
}

.errorClass {
  font-size: 12px;
  color: red;
}

.selectRow {
  display: flex;
  > div {
    width: 100%;
  }
}
