.react-select-search__control:hover {
  background-color: #6625b5 !important;
}
.react-select-search__control:focus-within {
  background-color: #6625b5 !important;
  box-shadow: none;
}
.react-select-search__option--is-focused {
  background-color: rgba(74, 20, 140, 0.1) !important;
}
