.container {
  border-radius: 3px;
  margin-right: 5px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.select {
  width: 100%;
}

.searchIcon {
  margin: auto 5px;
  margin-right: -25px;
  z-index: 1;
}
