.iconDiv {
  svg {
    height: 34px;
    vertical-align: middle;
  }
}

.button {
  color: white !important;
  border-color: rgba(255, 255, 255, 0.5) !important;
  border-width: 0 !important;
  font-weight: 700 !important;
  text-transform: none !important;
  margin-right: 5px !important;
  &:hover {
    border-width: 1px !important;
  }
}

.buttonActive {
  border-width: 1px !important;
}
