.siteTitle {
  display: none;
  color: white !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  border-color: rgba(255, 255, 255, 0.5) !important;
  border-width: 0 !important;
  text-transform: unset !important;

  @media (min-width: 700px) {
    display: block;
  }

  &:hover {
    border-width: 1px !important;
  }
}
