.container {
  padding: 0 2px 0 8px;
  display: flex;
  justify-content: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  font-weight: 400;
  justify-content: center;
  cursor: default;
  user-select: none;
  color: white;
}

.filtered {
  text-align: center;
}

.total {
  border-top: 1px solid white;
  text-align: center;
}
