.title {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.titleRow {
  flex-shrink: 0;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding: 0 10px;
  position: sticky;
  top: 0;
  user-select: none;
  z-index: 1;
}

.herkunftClass {
  height: 54px;
  user-select: none;
}

.herkunftLabelClass {
  color: rgb(0, 0, 0, 0.54);
  font-size: 12px;
  padding-bottom: 2px;
}
