.row {
  border-bottom: 1px solid rgba(74, 20, 140, 0.2);
  border-collapse: collapse;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  &:hover {
    background-color: rgba(74, 20, 140, 0.03);
  }
}

.datumClass {
  flex-basis: 85px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 10px;
}

.name {
  flex-basis: 150px;
  flex-shrink: 1;
  flex-grow: 1;
  margin-right: 10px;
}

.beschreibung {
  flex-basis: 170px;
  flex-shrink: 5;
  flex-grow: 5;
  margin-right: 10px;
}

.geplant {
  flex-basis: 60px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 10px;
}
