.row {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #e8e8e8;
  min-height: 52px;
}

.check {
  padding: 0 5px;
}

.titel {
  padding: 0 5px;
  display: flex;
}

.beschreibung {
  padding: 0 5px;
  display: flex;
}
