.menuItem {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  svg {
    color: #4a148c;
  }
}

.version {
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
}
