.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  scrollbar-width: thin;
  border-collapse: collapse;
}
