.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff3e0;
}

.tabs {
  [role='tab'][aria-selected='false'],
  svg {
    color: white !important;
  }
}

.tab {
  min-width: 70px !important;
  text-transform: none !important;
}

.titleRow {
  background-color: #e65100;
  user-select: none;
}

.title {
  padding: 10px 10px 0 10px;
  color: white;
  font-weight: bold;
}
