.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  min-height: 18px;
  max-width: calc(100% - 10px);
  word-wrap: break-word;
}

/* http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
.messageClass {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  font-weight: 400;
  font-size: small;
  flex-shrink: 1;
}

.titleClass {
  font-weight: 500;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
