.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 13px;
  border-bottom: thin solid #0000001c;
  &:hover {
    background-color: rgba(74, 20, 140, 0.03);
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delIcon {
  svg {
    font-size: 1.1rem;
  }
}

.menuTitle {
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 16px;
  padding-bottom: 0;
  margin-bottom: 3px;
  margin-top: 0;
  &:focus {
    outline: none;
  }
}
