/* allotment */
:root {
  --focus-border: rgba(74, 20, 140, 0.15);
  --separator-border: rgba(74, 20, 140, 0.1);
  --sash-hover-size: 8px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif, system-ui;
  height: 100%;
}

html {
  overflow: hidden !important;
  height: 100%;
  --app-bar-height: 64px;
  --title-row-height: 48px;
  --single-row-height: 48px;
}

/*
 * on mobile titles are invisible
 * make them appear on press
 * source: https://stackoverflow.com/a/60660207/712005 
*/
@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid;
    width: fit-content;
    padding: 3px;
    font-size: 0.6em;
  }
}

@media print {
  /*
    * hide everything BUT what shall be printed
    */
  body * {
    visibility: hidden;
  }

  .printer-content,
  .printer-content * {
    visibility: visible !important;
  }

  .printer-content {
    position: absolute;
    left: 0;
    top: 0;
  }

  /**
    * ensure html and body
    * have no margins, no padding,
    * grow and overflow as needed
      necessary as hidden?
    */
  html,
  body,
  #root,
  #root > div {
    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    width: auto !important;
    overflow: visible !important;
  }
}

/* scrollbars */

/* newer syntax for firefox */
html {
  scrollbar-color: #4a148c rgba(248, 243, 254, 1);
  scrollbar-width: thin;
}

/* own syntax for webkit */
::-webkit-scrollbar {
  width: 12px;
  background: rgba(255, 253, 231, 0.1);
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 7px #4a148c;
  box-shadow: inset 0 0 7px #4a148c;
  background: rgba(85, 85, 85, 0.05);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* uploadcare */
.uploadcare--button {
  background-color: #4a148c !important;
  background: #4a148c !important;
  border: 1px solid #4a148c !important;
  color: white !important;
}
.uploadcare--button:focus {
  outline: 2px solid rgba(74, 20, 140, 0.5) !important;
}
.uploadcare--button:hover {
  background: rgba(74, 20, 140, 0.8) !important;
  border-color: rgba(74, 20, 140, 0.8) !important;
  color: white !important;
}
.uploadcare--widget__button,
.uploadcare--widget__button:active,
.uploadcare--widget__button:focus {
  background: none !important;
  color: black !important;
  outline: none !important;
}
.uploadcare--widget__button,
.uploadcare--widget__button:focus {
  color: #4a148c !important;
  font-size: 0.875rem !important;
  line-height: 24.5px !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  padding: 5px 16px !important;
}
.uploadcare--widget__button:hover {
  color: #4a148c !important;
  font-size: 0.875rem !important;
  line-height: 24.5px !important;
  font-weight: 500 !important;
  background-color: rgba(74, 20, 140, 0.08) !important;
}
.uploadcare--powered-by,
.uploadcare--powered-by__link {
  display: none !important;
}

/* tree contextmenu */

.tree-root {
  .react-contextmenu {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    background-color: rgb(66, 66, 66);
    background-clip: padding-box;
    border: 1px solid grey;
    border-radius: 0.25rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
    transition: opacity 250ms ease !important;
    /* no idea why this is needed */
    margin-top: -70px;
  }
  .react-contextmenu.react-contextmenu--visible {
    color: white;
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
  }
  .react-contextmenu-title {
    opacity: 0;
  }
  .react-contextmenu--visible .react-contextmenu-title {
    color: #b3b3b3;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 3px;
    opacity: 1;
  }
  .react-contextmenu-title::after {
    content: ':';
  }
  .react-contextmenu > .react-contextmenu-item {
    display: inline-block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    text-decoration: none;
    cursor: pointer;
  }
  .react-contextmenu-item.active,
  .react-contextmenu-item:hover {
    color: #f57c00;
    border-color: #0275d8;
    text-decoration: none;
  }

  .react-contextmenu-divider {
    border-top: 1px solid grey;
    margin-top: 4px;
    margin-bottom: 7px;
  }

  .react-contextmenu-submenu {
    padding-right: 27px !important;
  }

  .react-contextmenu-submenu:after {
    content: '▶';
    display: inline-block;
    position: absolute;
    right: 7px;
    bottom: 3px;
  }
}

/* react-slick */

.slick-prev:before,
.slick-next:before,
.slick-dots li button:before {
  color: #4a148c;
}
.slick-prev {
  left: -20px;
}
.slick-next {
  right: -20px;
}
.slick-dots {
  bottom: -10px;
}

/* docs */

.docs {
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
