.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  background-color: rgba(74, 20, 140, 0.1);
  flex-shrink: 0;
  display: flex;
  @media print {
    display: none !important;
  }
  height: 48px;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.titleSymbols {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  > div {
    scrollbar-width: thin;
  }
}

.apFilterContainer {
  margin-top: -3px;
}
