.titleRow {
  background-color: rgba(248, 243, 254, 1);
  flex-shrink: 0;
  display: flex !important;
  height: 48px;
  justify-content: space-between !important;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 10px;
  user-select: none;
  position: sticky !important;
  top: -10px;
  z-index: 1;
}

.title {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.buttons {
  margin-top: 7px;
}

.spacer {
  height: 10px;
}

.lightboxButton {
  margin-left: 10px !important;
  text-transform: none !important;
  border: none !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
