.nodeClass {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  user-select: none;
  line-height: 1.3rem;
  content-visibility: auto;
  contain-intrinsic-size: auto 21px;
}

.expandMoreIcon {
  margin-top: -5px !important;
  padding-left: 2px;
  cursor: pointer;
  &:hover {
    color: #f57c00 !important;
  }
}

.chevronRightIcon {
  padding-left: 2px;
  height: 22px !important;
  width: 26px;
  cursor: pointer;
  &:hover {
    color: #f57c00 !important;
  }
}

.moreHorizIcon {
  width: 26px;
  cursor: pointer;
  &:hover {
    color: #f57c00 !important;
  }
}

.accountIcon {
  margin-top: 3px;
  font-size: 1.1em;
}

.symbolDiv {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* this height is important to keep all nodes at same height */
  /* otherwise expandMore will be higher than others */
  height: 1.4em;
}

.symbolSpan {
  padding-left: 9px;
}

.textSpan {
  margin-left: 0;
  padding-right: 4px;
  white-space: normal;
  cursor: pointer;
  &:hover {
    color: #f57c00;
  }
}

.menuSubtitle {
  padding-top: 7px;
}

.menuExplainerItem {
  white-space: normal !important;
  cursor: auto !important;

  &:hover {
    color: white !important;
    border-color: rgb(255, 255, 255) !important;
  }
}
