.container {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.caseConflictTitle {
  margin-bottom: 10px;
}

.rev {
  font-weight: normal;
  padding-left: 7px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.8em;
}
